.canvas{
  border:solid #00f thin;
}
.css_width{
  width: 150px;
  height: 150px;
}

/*color*/
.red{
  color:#f00;
}
.blue{
  color:#00f;
}
.green{
  color:#0f0;
}
.orange{
  color:#f80;
}
h2{
  padding-top: 30px;
  border-top:1px solid #888;
}